<%= render partial: "layouts/navigation" %>
<%= render partial: "sessions/login" %>
<%= render partial: "sessions/register" %>

	<div class="background-image bg-image-darkbeer">
		<div class="darken"></div>
		<div class="welcome-text">
			<h1>Luxury beer at your fingertips</h1>
		</div>
	</div>
	
	<section class="how-it-works center off-white">	
		<div class="center"><h2 class="section-title font-grey">How it works</h2></div>
		<div class="row">
				<div class="small-4 columns">
					<div class="hiw-card">
						<div class="hiw-content">
						<!-- <h2 class="font-grey center">Bid</h2> -->
							<p class="font-grey center">Bid</p>
							<%= image_tag("svgs/computer169.svg", class: "step-image center") %>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="hiw-card">
						<div class="hiw-content">
						<!-- <h2 class="font-grey center">Win</h2> -->
							<p class="font-grey center">Win</p>
							<%= image_tag("svgs/trophy45.svg", class: "step-image center") %>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="hiw-card">
						<div class="hiw-content">
						<!-- <h2 class="font-grey center">Deliver</h2> -->
							<p class="font-grey center">Deliver</p>
							<%= image_tag("svgs/delivery13.svg", class: "step-image center") %>
						</div>
					</div>
				</div>
		</div>
	</section>
	
	<section class="meet-founders off-white">
		<div class="center"><h2 class="section-title font-grey">Meet the team</h2></div>
		<div class="row">
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/cSXV03p.jpg?1" alt="">
						<h5 class="font-grey center">Developer</h5>
					</div>
					<p class="font-grey font-1 center">Faraaz is a RoR developer, singer, and poker player. He claims to play tennis but his tennis racket has been broken for over 8 months. When he is in deep thought he compulsively bites his nails.</p>
				</div>
			</div>	
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/7q4EyN2.jpg" alt="">
						<h5 class="font-grey center">Developer</h5>
					</div>
					<p class="font-grey font-1 center">Nathik is a Cal Poly SLO graduate with a Computer Engineering degree. In his free time he likes to take his dog out for walks. His hobbies include playing guitar, reading, and falling in love with beautiful women.</p>
				</div>
			</div>	
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/c7u8ohu.jpg" alt="">
						<h5 class="font-grey center">Developer</h5>
					</div>
					<p class="font-grey font-1 center">Farhaan is a Senior in high school with an interest in Computer Science. When he's not masturbating he likes to play video games, dance to EDM, and get extremely high.</p>
				</div>
			</div>			
		</div>	
	</section>
	